body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background: url(img/bg.png);
}

.container{
    height: 100%;
    position: relative;
}

.header{
    height: 80px;
}

.header-logo{
    height: 80px;
    padding-left: 36px;
}

.wrapper-960{
    width: 960px;
    margin: 0px auto;
}

.light{
    font-weight: 300;
}

.regular{
    font-weight: 400;
}

.banner{
    height: 400px;
    width: 700px;
    border-radius: 11px;
    background-color: rgb(227, 214, 205);
    box-shadow: 0px 34px 40.42px 2.58px rgba(0, 0, 0, 0.15);
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    vertical-align: middle;
}

.banner>h1{
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    margin: 0px;
    width: 100%;
}

.banner>h1 span{
    margin-bottom: 20px;
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    .wrapper-960{
        width: 100%;
    }
    .banner{
        width: 320px;

    }
  }




  
  